.deon {
  >.imageControlButton {
    width: fit-content;

    /* placeholder */
    >h1{
      border: 2px solid black; 
      border-radius: 8px;
      padding: 0.5em;
      border-color: #006eff;
    }

    >img {
      width: var(--button-width);
    }
  }

  >.imageControlButton:hover {
    scale: var(--button-hover-scale);
  }
}

.photoCapture {
  margin: auto;

  display: flex;
  flex-direction: row;
}

.capturedImage {
  width: 60%;
}

img,
video {
  border-radius: 1em;
}

.videoFeed{
  float: right;
}