<section class="photoCapture">
  <div class="deon">
    <div class="imageControlButton" (click)="toggleCamera()">
      <img class="button-img" src="./assets/SeeSay-Button-Camera_v1.png"/>
    </div>
    <div class="imageControlButton" *ngIf="showVideo" (click)="captureImage()">
      <h1>Capture Image</h1>
    </div>
    <div class="imageControlButton" *ngIf="imageCaptured" (click)="downloadImage()">
      <h1>Download</h1>
    </div>
    <div class="imageControlButton" *ngIf="imageCaptured" (click)="uploadImage()">
      <h1>Upload</h1>
    </div>
  </div>

  <video class="videoFeed" #videoElement width="60%" *ngIf="showVideo" muted></video>
  <img class="capturedImage" *ngIf="imageSrc" [src]="imageSrc" alt="Captured Image" />  
  <p *ngIf="result!=''">{{result}}</p>
  <p *ngIf="uploadState=='uploading'">Uploading..</p>
</section>
<!-- 
<ng-template #video_placeholder>
  <img src="./assets/SeeSay-SideArt_v1.png"/>
</ng-template> -->