.deon {
  >.imageControlButton {
    width: fit-content;

    >img {
      width: var(--button-width);
    }
  }

  >.imageControlButton:hover {
    scale: var(--button-hover-scale);
  }
}

.photoCapture {
  margin: auto;
  width: var(--body-width);
}

.capturedImage {
  width: 60%;
}

img,
video {
  border-radius: 1em;
}