.deon{
  display: block;

  > .imageControlButton{
    display: inline-block;
    margin-right: 1rem;
  }

  padding: 1em;
}

.photoCapture{
  margin: auto;
  text-align: center;
}

button{
  padding: 1rem;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-weight: bold;
}

button:hover{
  background-color: #dddddd;
}

img, video{
  border-radius: 1em;
}