/* You can add global styles to this file, and also import other style files */
:root {
    --body-width: 80%;
    --button-width: 13.5em;
    --tag-width: 15em;
    --button-hover-scale: 1.075;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('assets/fonts/Gill Sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Gill Sans', sans-serif;  /* Use fallback font like sans-serif in case Gill Sans doesn't load */
}

