.record{
    color: black;
    border-radius: 80px;

    margin-top: 3em;
    margin-bottom: 1em;

    > .tag{
        width: 15em;
    }

    > .record-button{
        width: fit-content;
        margin-bottom: 0.75em;

        > .button-img{
            width: 13.5em;
        }
    }
    
    >  .record-button:hover{
        scale: 1.05;
    }
}

.home{
    padding: 2em;
    width: 80%;
    margin: auto;

}

.logo{
    width: 26em;
    margin-top: 4em;
}