.record{
    color: white;
    background-color: #333333;
    width: fit-content;
    margin: auto;
    padding: 2em;
    border-radius: 80px;

    margin-bottom: 1em;

    > button{
        background-color: #777777;
        border: none;
        color: white;
    
        border-radius: 4px;
        min-width: 4em;
    
        padding: 0.75rem 1rem;
        text-align: center;
        text-decoration: none;
    
        display: inline-block;
        margin-right: 1em;
    }
    
    > button:hover{
        background-color: #aaaaaa;
    }
}

.home{
    padding: 2em;
    margin: auto;
    text-align: center;
    width: 60%;
}