<div class="home">
    <section class="record">
        <h1>Record Voice</h1>
        <button (click)="record()">
            Record
        </button>
        <button (click)="stop()">
            Stop
        </button>
        <button (click)="play()">
            Play
        </button>
        <button (click)="upload()">
            Upload
        </button>

        <button (click)="toggleHistory()">
            Toggle History
        </button>
        <div *ngIf="showHistory">
            <h3>History</h3>
            <ul>
              <li *ngFor="let result of resultHistory">{{ result }}</li>
            </ul>
        </div>

        <p>
            {{ result ? result : 'Status: ' + status }}
        </p>
        
    </section>
</div>
