<div class="home">
    <section class="record">
        <h1>Record Voice</h1>
        <button (click)="record()">
            Record
        </button>
        <button (click)="stop()">
            Stop
        </button>
        <button (click)="play()">
            Play
        </button>
        <button (click)="upload()">
            Upload
        </button>
        <p *ngIf="result==''">
            Status: {{status}}
        </p>
        <p *ngIf="result!=''">
            Transcript: {{result}}
        </p>
    </section>
</div>
