<div class="home">
    <section class="record">
        <h1>Record</h1>
        <button (click)="record()">
            Record
        </button>
        <button (click)="stop()">
            Stop
        </button>
        <button (click)="play()">
            Play
        </button>
        <button (click)="upload()">
            Upload
        </button>
        <p>
            Status: {{status}}
        </p>
        <button (click)="test()">
            Test
        </button>
    </section>
    <button (click)="magic()">
        Test
    </button>
    <p>
        {{result}}
    </p>
</div>
