.record{
    color: black;
    border-radius: 80px;

    margin-top: 3em;
    margin-bottom: 1em;

    > .tag{
        width: var(--tag-width);
    }

    > .record-button{
        width: fit-content;
        margin-bottom: 0.75em;

        > .button-img{
            width: var(--button-width);
        }
    }
    
    >  .record-button:hover{
        scale: var(--button-hover-scale);
    }
}

.home{
    padding: 2em;
    width: var(--body-width);
    margin: auto;

}

.logo{
    width: 26em;
    margin-top: 4em;
}